@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  padding-bottom: 2em;
}

main {
  min-height: 80vh;
}

article {

}

p {
  color: #575656;
}

ul {
  color: #575656;
}

.primary-color {
  color: #6AA1B6;
}

.secondary-color {
  color: #D66E61;
}

.green {
  color: #799D83;
}

.brown {
  color: #AD917C;
}

.light-brown {
  color: #E2CE91;
}