<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☉</text></svg>">
    <link rel="stylesheet" href="assets/tailwind.css">
    <link rel="stylesheet" href="assets/main-bundle.css">
</head>
<body class="bg-white text-lg">
{% include navigation.html %}
<div class="home">
    <div class="heroimage">
        <div class="w-full">
            <div class="flex bg-gray-100" style="height:600px;">
                <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
                    <div>
                        <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">Historische Wetterdaten <span
                                class="primary-color">transkribieren</span></h2>
                        <p class="mt-2 text-sm text-gray-500 md:text-base">Für die automatisierte Erschließung
                            historischer Wetteraufzeichnugen aus Regensburg werden transkribierte Daten benötigt. In
                            diesem Crowdsourcing-Projekt sollen genug Daten gesammelt werden, um den Computer
                            trainieren, und den Rest der Bestände erschließen zu können.</p>
                        <div class="flex justify-center lg:justify-start mt-6">
                            <a class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800"
                               href="https://transkribus.eu/r/read/projects/73546/" rel="noopener">Mitmachen</a>
                        </div>
                    </div>
                </div>
                <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
                    <div class="h-full object-cover" style="background-image: url(assets/observationes-front.png)">
                        <div class="h-full bg-black opacity-25"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <article class="max-w-4xl mx-auto pt-12 pb-4">
        <h2 class="text-4xl pb-5 pt-7 text-gray-700">Historische Wetterdaten entdecken</h2>
        <p id="observationes-infomartion" class="leading-relaxed">
            Die Regensburger Wetteraufzeichnungen wurden über mehr als 50 Jahre hinweg ohne Unterbrechungen geführt.
            Coelestin Steiglehner, Professor für Mathematik und Naturwissenschaften, begann die Wetteraufzeichnungen im
            Jahr 1771 und führte sie sieben Jahre fort. Die Aufzeichnungen begannen somit bereits neun Jahre vor der
            Gründung der meteorologischen Gesellschaft in Mannheim, welche mit Aufzeichnungen, Auswertungen und
            wissenschaftlichen Abhandlungen aus dem Kloster versorgt wurde. Bis zu dreizehnmal am Tag wurden Temperatur,
            Luftdruck, Luftfeuchtigkeit, Windstärke und Windrichtung festgehalten. Ab 1778 übernahmen Placidus Heinrich
            und seine Schüler die Anfertigung der Aufzeichnungen. Heinrich war ebenfalls ein begeisterter
            Naturwissenschaftler und übernahm zwischen 1791 und 1798 eine Professur für Naturlehre, Stern- und
            Witterungskunde in Ingolstadt. Unter Heinrich wurden ab 1782 weitere Informationen wie Bewölkung, Nebel,
            Regen, Überschwemmungen, Mondphasen und Sonnenflecken mit in die Aufzeichnungen aufgenommen. Nach dem Tod
            von Placidus Heinrich im Jahr 1825 führte Ferdinand von Schmöger die Wettertagebücher bis zum 31. Dezember
            1827 fort.
            Zeitlich fallen die Bestände in die frühe Neuzeit, klimahistorisch in die Kleine Eiszeit. Eine Klimaepoche,
            die einen umfassenden Rahmen für globale Veränderungen der Umwelt bildet.
            Die 40 Bände der "Observationes meteorologicae" zählen zu den ältesten durchgängig geführten
            Wetteraufzeichnungen in Europa.
            Durch das hohe Maß an Homogenität und Kontinuität eignen sie sich damit in besonderer Weise für
            systematische, computergestützte Analyseansätze im Sinne der Digital Humanities.
        </p>
        <h2 class="text-4xl pb-5 pt-7 text-gray-700">Wetterdaten gemeinsam transkribieren: Wie kann ich mitmachen?
        </h2>
        <p>Es gibt eine <a href="assets/einfuerung_transkribus.pdf" class="underline secondary-color">detaillierte Anleitung</a>  zum Transkribieren.</p>
        </br>
        <p>
        Und eine Kurzversion davon:
            <ul id="transcription-steps" class="leading-relaxed list-disc">
                <li><span class="secondary-color">Tutorial zur Benutzung von Transkribus</span> im Rahmen des Projektes</li>
                <li>Die <span class="secondary-color">Transkriptionsrichtlinien</span> des Projekts</li>
                <li>Gehen Sie zu <a class="secondary-color" href="https://transkribus.eu/r/read/login/?next=/r/read/library/" rel="noopener"
                                    title="Transkribus Projects" target="_blank">https://transkribus.eu/r/read/login/</a>
                    (zur
                    Benutzung s. auch <a class="secondary-color" href="https://transkribus.eu/wiki/index.php/Main_Page" rel="noopener noreferrer"
                                         title="Transkribus-Wiki" target="_blank">Transkribus-Wiki</a>)
                </li>
                <li>Loggen Sich sich mit Ihren Transkribus-Accout ein (vorher hier registrieren: <a class="secondary-color"
                        href="https://account.readcoop.eu/">https://account.readcoop.eu/</a>)
                </li>
                <li>... oder verwenden Sie den gemeinsamen Log-In:<br>Username: observationes.regensburg@gmail.com<br>Passwort: steiglehner1771</li>
                <li>Sie kommen dann auf die Startseite und gehen zu „My Collections“</li>
                <li>Öffnen Sie das Projekt „Observationes meteorologicae"</li>
                <li>Suchen Sie sich ein Dokument aus der Liste aus</li>
                <li>…und los geht’s!!</li>
            </ul>
        </p>
    </article>

    <div class="hidden max-w-4xl mx-auto">
        <div class="flex items-center justify-between">
            <h2 class="text-4xl pb-5 pt-7 text-gray-700">Aktivitäten</h2>
        </div>
        {% for post in site.posts %}
        <div class="mt-6">
            <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                <div class="flex justify-between items-center"><span class="font-light text-gray-600">{{ post.date | date: "%m/%d/%Y"  }}</span>
                </div>
                <div class="mt-2"><a href="{{ post.url }}" class="text-2xl text-gray-700 font-bold hover:underline">{{
                    post.title }}</a>
                    <p class="mt-2 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Tempora expedita dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                        reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione libero!
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
<script src="assets/main-bundle.js"></script>
</html>
