<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☉</text></svg>">
    <link rel="stylesheet" href="assets/tailwind.css">
    <link rel="stylesheet" href="assets/main-bundle.css">
</head>
<body class="bg-white text-lg">
    {% include navigation.html %}
    <div class="page max-w-4xl mx-auto pt-12 pb-4">
        {{content}}
    </div>
</body>
</html>